! colours
#include ".config/zzz/dark_bg"

! $TERM
urxvt*termName: xterm-256color

! font
urxvt*font: xft:DejaVuSansMono:pixelsize=13:antialias=true

! see through
urxvt*transparent: false

urxvt*scrollBar_right: true

! do not scroll w output
urxvt*scrollTtyOutput: false
urxvt*scrollStyle: xterm
